.shefs-title {
  font-weight: 900;
  font-size: 32px;
  position: relative;
  text-align: center;
  margin: 0 auto 24px;
}

.accent-dark {
  color: var(--bakery-landing-1-s3);
}

.chef-list {
  display: flex;
  flex-direction: column;
}

.chef-item {
  max-width: 330px;
}

.chef-card {
  display: flex;
  gap: 16px;
}

.chef-photo {
  width: 156px;
  height: 258px;
  border-radius: 2px 2px 2px 116px;
  box-shadow: -8px 8px 0 0 var(--bakery-landing-1-background),
    -8px 8px 0 1px var(--bakery-landing-1-s4);
  margin-left: 10px;
}

.chef-card {
  margin-bottom: 24px;
}

.chef-card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.chef-text {
  font-weight: 300;
  font-size: 14px;
}

.chef-text p {
  margin-bottom: 16px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .shefs-title {
    margin-bottom: 36px;
  }

  .shefs-title::before,
  .shefs-title::after {
    position: absolute;
    bottom: 13px;
    width: 210px;
    border: 2px solid var(--bakery-landing-1-c5);
    content: "";
  }

  .shefs-title::before {
    left: 0;
  }

  .shefs-title::after {
    right: 0;
  }

  .chef-list {
    flex-direction: row;
    column-gap: 40px;
  }

  .chef-item {
    max-width: 320px;
    flex-basis: calc((100% - 40px) / 2);
  }

  .chef-card {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .shefs-title {
    font-size: 64px;
    margin: 0 auto 80px;
  }

  .shefs-title::before,
  .shefs-title::after {
    position: absolute;
    bottom: 23px;
    width: 280px;
  }

  .chef-list {
    column-gap: 30px;
    row-gap: 40px;
    margin-left: 10px;
  }

  .chef-item {
    max-width: 605px;
    flex-basis: calc((100% - 30px) / 2);
  }

  .chef-card {
    gap: 30px;
  }

  .chef-photo {
    width: 240px;
    height: 390px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--bakery-landing-1-background), -16px 16px 0 1px var(--bakery-landing-1-s4);
  }

  .chef-info {
    max-width: 335px;
  }

  .chef-card-title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .chef-text {
    font-weight: 400;
    font-size: 18px;
  }

  .chef-text p {
    margin-bottom: 24px;
  }
}