.contacts-section {
  padding-bottom: 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-form {
  margin-bottom: 24px;
}

.contact-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}

.contact-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-s3);
  margin-bottom: 24px;
  text-align: center;
}

.contact-map {
  flex-shrink: 0;
  height: 176px;
  margin: 0 -10px;
  border: none;
  border-radius: 0;
}

@media screen and (min-width: 375px) {
  .contact-map {
    margin: 0 -20px;
  }
}

@media screen and (min-width: 425px) {
  .contact-map {
    margin: 0 -40px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-bottom: 48px;
  }

  .contact-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }

  .contact-form {
    margin-bottom: 0;
  }

  .contact-title {
    margin-bottom: 16px;
    text-align: left;
  }

  .contact-text {
    text-align: left;
  }

  .contact-map {
    width: 370px;
    height: 450px;
    margin: 0;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section {
    padding-bottom: 96px;
  }

  .contact-container {
    gap: 32px;
  }

  .contact-title {
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 52px;
    line-height: 1.3;
  }

  .contact-text {
    font-weight: 400;
    font-size: 18px;
  }

  .contact-map {
    width: 603px;
    height: 620px;
    margin: 0;
    border-radius: 16px;
  }
}