.contacts-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.contact-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 52px;
  line-height: 1.3;
}

.contact-text {
  margin-bottom: 42px;
}

.contact-form-fild {
  margin-bottom: 24px;
}

.contact-btn {
  margin: 0 auto 16px;
}