.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 375px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}