.contact-form-fild {
  margin-bottom: 16px;
}

.form-label {
  display: block;
}

.form-input {
  font-weight: 300;
  font-size: 12px;
  padding: 6px 12px;
  width: 100%;
  border: 1px solid var(--bakery-landing-1-s4);
  border-radius: 6px;
  background-color: transparent;
}

.form-input::placeholder {
  color: var(--bakery-landing-1-s4);
}

.form-buttom {
  display: block;
  width: 203px;
  color: var(--bakery-landing-1-background);
  background: var(--bakery-landing-1-c2);
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 24px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
}

.form-terms {
  display: none;
}

@media screen and (min-width: 768px) {
  .form-input {
    padding: 12px 24px;
    border-radius: 8px;
  }

  .form-input::placeholder {
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 14px;
  }

  .form-input:focus::placeholder {
    color: var(--bakery-landing-1-s1);
  }

  .form-input:focus {
    border-color: var(--bakery-landing-1-c2);
    outline: none;
  }

  .form-buttom {
    margin-bottom: 24px;
    width: 238px;
  }

  .form-terms {
    display: block;
    max-width: 215px;
    font-family: var(--font3);
    font-weight: 300;
    font-size: 10px;
    line-height: 1.46;
    text-align: center;
    margin: 0 auto;
  }

  .form-terms-link {
    text-decoration: underline;
    color: var(--bakery-landing-1-s1);
    text-underline-offset: 2px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-form-fild {
    margin-bottom: 24px;
  }

  .form-input {
    font-weight: 400;
    font-size: 16px;
    padding: 16px 42px;
    font-size: 16px;
  }

  .form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
  }

  .form-buttom {
    width: 238px;
    padding: 16px 32px;
    font-size: 18px;
  }

  .form-buttom:hover {
    border: 2px solid var(--bakery-landing-1-c2);
    background-color: transparent;
    color: var(--bakery-landing-1-s3);
  }

  .form-terms {
    font-weight: 500;
    font-size: 12px;
  }
}