.form-fild {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  font-size: 16px;
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--bakery-landing-1-s4);
  border-radius: 8px;
  background-color: transparent;
}

.form-input::placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--bakery-landing-1-s4);
}

.form-input:focus::placeholder {
  color: var(--bakery-landing-1-s1);
}

.form-input:focus {
  border-color: var(--bakery-landing-1-c2);
  outline: none;
}

.form-buttom {
  display: block;
  margin: 0 auto 24px;
  width: 238px;
}

.form-terms {
  max-width: 215px;
  font-family: var(--font3);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.46;
  text-align: center;
  margin: 0 auto;
}

.form-terms-link {
  text-decoration: underline;
  /* text-decoration-skip-ink: none; */
  color: var(--bakery-landing-1-s1);
  text-underline-offset: 2px;
}