  .hero-section {
    padding: 122px 0 48px;
    background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 98.36%), url(../images/hero-background-mob.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  .hero-title {
    font-weight: 900;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 48px;
    text-align: center;
    color: var(--bakery-landing-1-background);
  }

  .accent {
    color: var(--bakery-landing-1-c2);
  }

  .hero-button {
    display: block;
    margin: 0 auto;
    width: 204px;
    font-size: 16px;
    font-weight: 600;
    color: var(--bakery-landing-1-background);
    padding: 16px 24px;
    border: 2px solid var(--bakery-landing-1-c2);
    border-radius: 8px;
    background-color: var(--bakery-landing-1-c2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  @media screen and (min-width: 375px) {
    .hero-title {
      font-size: 67px;
    }
  }

  @media screen and (min-width: 768px) {
    .hero-section {
      padding-bottom: 122px;
      background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%,
          rgba(18, 18, 17, 0.6) 58.46%,
          rgba(18, 18, 17, 0) 98.36%),
        url("../images/hero-background.jpg");
    }

    .hero-title {
      font-size: 80px;
      margin-bottom: 0;
    }

    .hero-button {
      display: none;
    }
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%,
          rgba(18, 18, 17, 0.6) 58.46%,
          rgba(18, 18, 17, 0) 98.36%),
        url("../images/hero-background@2x.jpg");
    }
  }

  @media screen and (min-width: 1280px) {
    .hero-section {
      padding: 272px 0;
    }

    .hero-title {
      font-size: 118px;
      line-height: 1.5;
      margin-bottom: 0;
    }

    .hero-button {
      display: none;
    }
  }