.container-mobile-menu {
  padding: 16px 24px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bakery-landing-1-background);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translateX(0);
}

.container-mobile-menu::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/modal-bread.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 240px;
  pointer-events: none;
  z-index: 1;
}

.menu-button-close {
  position: absolute;
  top: 16px;
  right: 24px;
  background-color: transparent;
  border: none;
}

.logo-burger {
  width: 72px;
  height: 38px;
  margin-bottom: 32px;
}

.header-menu-burger {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.header-menu-burger-link {
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-s1);
}

.header-menu-burger-link:hover {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}