.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background: var(--bakery-landing-1-background);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.section-modal-title {
  font-weight: 900;
  font-size: 52px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 8px;
}

.section-modal-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--bakery-landing-1-s3);
  margin-bottom: 72px;
}