/* Загальні правила */
@import url('./container.css');
@import url('./base.css');
@import url('./reset.css');


/* Section */
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./traditions.css');
@import url('./shefs.css');
@import url('./formats.css');
@import url('./contacts.css');
@import url('./footer.css');
@import url('./backdrop.css');
@import url('./modal.css');
@import url('./form.css');