/* Загальні правила */
@import url('./container.css');
@import url('./base.css');
@import url('./reset.css');



/* Section */
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./pagination.css');
@import url('./hero-section.css');
@import url('./advantages-section.css');
@import url('./traditions-section.css');
@import url('./chefs-section.css');
@import url('./formats-section.css');
@import url('./contacts-section.css');
@import url('./footer.css');
@import url('./backdrop.css');
@import url('./modal.css');
@import url('./form.css');