:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  --font-family: "Poppins", sans-serif;
}

/* #region Загальні правила */

body {
  color: var(--bakery-landing-1-s1);
  font-family: var(--font-family);
  background-color: #faf4ea;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.address {
  font-style: normal;
}

/* #endregion Загальні правила */

/* #region HEADER */
.logo {
  font-weight: 400;
  font-size: 24px;
}

.link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--bakery-landing-1-background)
}

.link:hover,
.link:focus {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}


.button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--bakery-landing-1-background);
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  background-color: var(--bakery-landing-1-c2);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: transparent;
  color: var(--bakery-landing-1-s3);
}

/* #endregion HEADER */

/* #region HERO */

.hero-title {
  font-weight: 900;
  font-size: 128px;
  text-align: center;
  color: var(--bakery-landing-1-background);
}

.accent {
  color: var(--bakery-landing-1-c2);
}

.hero-list {
  background-color: var(--bakery-landing-1-c2);
}

.hero-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--bakery-landing-1-background);
}

/* #endregion HERO */

/* #region Новий формат традицій */
.section-title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.tradition-paragraph .uppercase {
  text-transform: uppercase;
}

.tradition-paragraph .accent {
  font-weight: 600;
}

/* #endregion Новий формат традицій */

/* #region Наші найкращі шеф -кухарі */

.accent-dark {
  color: var(--bakery-landing-1-s3);
}

.chef-article-title {
  font-weight: 600;
  font-size: 40px;
}

/* #endregion Наші найкращі шеф -кухарі */

/* #region Формати */

.format-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--bakery-landing-1-background);
}

.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-background);
}

/* #endregion Формати */

/* #region FOOTER */

.address-link {
  font-weight: 300;
  font-size: 16px;
  color: var(--bakery-landing-1-background)
}

.address-link:hover,
.address-link:focus {
  font-weight: 600;
  color: var(--bakery-landing-1-c2);
}

.address-copyright {
  font-size: 14px;
  color: var(--bakery-landing-1-s4);
}

/* #endregion FOOTER */