:root {
  --bakery-landing-1-background: #faf4ea;
  --bakery-landing-1-s1: #31261a;
  --bakery-landing-1-c2: #819b57;
  --bakery-landing-1-s3: #465929;
  --bakery-landing-1-s4: #a18268;
  --bakery-landing-1-c5: #cfcfbc;
  --font-family: "Poppins", sans-serif;
}

/* #region Загальні правила */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

body {
  color: var(--bakery-landing-1-s1);
  font-family: var(--font-family);
  background-color: var(--bakery-landing-1-background);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.address {
  font-style: normal;
}

.section {
  padding: 48px 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* #endregion Загальні правила */

/* #region HEADER */
.header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  padding-top: 32px;

}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  font-weight: 400;
  font-size: 24px;
  margin-right: 152px;
  cursor: pointer;
}

.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 64px;
  margin-right: 152px;
}

.link {
  font-size: 18px;
  text-align: center;
  color: var(--bakery-landing-1-background);
  transition: color 0.3s;
}

.link:hover {
  color: var(--bakery-landing-1-c2);
}


.button {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: var(--bakery-landing-1-background);
  border: 2px solid var(--bakery-landing-1-c2);
  border-radius: 8px;
  padding: 16px 32px;
  background-color: var(--bakery-landing-1-c2);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: transparent;
  color: var(--bakery-landing-1-s3);
}

/* #endregion HEADER */

/* #region HERO */

.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(102.76deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 98.36%), url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

}

.hero-title {
  font-weight: 900;
  font-size: 118px;
  text-align: center;
  margin-bottom: 0;
  color: var(--bakery-landing-1-background);
}

.accent {
  color: var(--bakery-landing-1-c2);
}

/* #endregion HERO */

/* #region Наші переваги */

.advantages-section {
  background-color: var(--bakery-landing-1-c2);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 0 20px;
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
  color: var(--bakery-landing-1-background);
}

/* #endregion Наші переваги */

/* #region Новий формат традицій */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.section-title {
  font-weight: 900;
  font-size: 52px;
  line-height: 1.3;
  margin-bottom: 80px;
}

.traditions-title {
  margin-bottom: 42px;
}

.tradition-paragraph {
  margin-bottom: 42px;
  max-width: 680px;
}

.tradition-paragraph:last-child {
  margin-bottom: 52px;
  max-width: 360px;
}

.tradition-paragraph .uppercase {
  text-transform: uppercase;
}

.tradition-paragraph .accent {
  font-weight: 600;
}

.tradition-paragraph.limited {
  max-width: 340px;
}

.tradition-photo {
  border-radius: 400px 400px 0 0;
}

/* #endregion Новий формат традицій */

/* #region Наші найкращі шеф -кухарі */

.shefs-title {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.shefs-title::before,
.shefs-title::after {
  position: absolute;
  bottom: 23px;
  width: 320px;
  border: 2px solid var(--bakery-landing-1-c5);
  content: "";
}

.shefs-title::before {
  left: 0;
}

.shefs-title::after {
  right: 0;
}

.accent-dark {
  color: var(--bakery-landing-1-s3);
}

.chef-list {
  display: flex;
  column-gap: 30px;
  row-gap: 40px;
  margin-left: 16px;

}

.chef-item {
  max-width: 605px;
  flex-basis: calc((100% - 30px) / 2);

}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--bakery-landing-1-background), -16px 16px 0 1px var(--bakery-landing-1-s4);
}

.chef-info {
  max-width: 335px;
}

.chef-card-title {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* #endregion Наші найкращі шеф -кухарі */

/* #region Формати */

.formats-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.formats-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  fill: var(--bakery-landing-1-s1);
  border: 1px solid var(--bakery-landing-1-s1);
  background-color: transparent;
  cursor: pointer;
}

.btn-carousel:hover {
  background-color: var(--bakery-landing-1-s1);
  fill: var(--bakery-landing-1-background);
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--bakery-landing-1-s1) 100%);
  border-radius: 16px;
  padding: 24px;
  transition: transform 0.3s;
}

.format-card:hover {
  transform: scale(1.05);
}

.format-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.format-title {
  font-weight: 600;
  font-size: 24px;
  color: var(--bakery-landing-1-background);
}

.format-text {
  font-weight: 300;
  font-size: 14px;
  color: var(--bakery-landing-1-background);
}

.format-text p:last-child {
  margin-bottom: 0;
}

/* #endregion Формати */

/* #region Приєднуйся до мережі пекарень */

.contacts-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}

.contact-title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 52px;
  line-height: 1.3;
}

.contact-text {
  margin-bottom: 42px;
}

.contact-form-fild {
  margin-bottom: 24px;
}

.contact-btn {
  margin: 0 auto 16px;
}

/* #endregion Приєднуйся до мережі пекарень */

/* #region FOOTER */

.footer {
  position: relative;
  background-color: var(--bakery-landing-1-s1);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
}

.footer::before {
  width: 180px;
  height: 120px;
  background-image: url(../images/decor-bread-small.png);
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url(../images/decor-bread-large.png);
}

.footer-container {
  display: flex;
  gap: 5 6px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 56px;
}

.footer-logo,
.footer-menu,
.footer-address-list,
.address-info {
  flex-grow: 1;
}

.footer-menu-item {
  margin-bottom: 16px;
}

.logo-footer {
  margin-right: 0px;
}

.address-link {
  font-weight: 300;
  font-size: 16px;
  font-style: normal;
  margin-bottom: 16px;
  color: var(--bakery-landing-1-background);
  transition: color 0.3s;
}

.address-link:hover {
  color: var(--bakery-landing-1-c2);
}

.footer-address-icon {
  display: flex;
  gap: 22px;
}

.address-icon {
  fill: var(--bakery-landing-1-background);
  transition: fill 0.3s;
}

.address-icon:hover {
  fill: var(--bakery-landing-1-c2);
}

.address-copyright {
  font-size: 14px;
  color: var(--bakery-landing-1-s4);
}

/* #endregion FOOTER */

/* #region Модальне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  background: var(--bakery-landing-1-background);
  border-radius: 32px;
  padding: 128px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

.section-modal-title {
  font-weight: 900;
  font-size: 52px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 8px;
}

.section-modal-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--bakery-landing-1-s3);
  margin-bottom: 72px;
}

.form-fild {
  margin-bottom: 32px;
}

.form-label {
  display: block;
}

.form-input {
  font-size: 16px;
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--bakery-landing-1-s4);
  border-radius: 8px;
  background-color: transparent;
}

.form-input::placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--bakery-landing-1-s4);
}

.form-input:focus::placeholder {
  color: var(--bakery-landing-1-s1);
}

.form-input:focus {
  border-color: var(--bakery-landing-1-c2);
  outline: none;
}

.form-buttom {
  display: block;
  margin: 0 auto 24px;
  width: 238px;
}

.form-terms {
  max-width: 215px;
  font-family: var(--font3);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.46;
  text-align: center;
  margin: 0 auto;
}

.form-terms-link {
  text-decoration: underline;
  /* text-decoration-skip-ink: none; */
  color: var(--bakery-landing-1-s1);
  text-underline-offset: 2px;
}

/* #endregion Модальне вікно */