.traditions-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.tradition-paragraph {
  font-weight: 300;
  font-size: 16px;
  max-width: 680px;
  margin-bottom: 16px;
}

.tradition-paragraph .accent {
  font-weight: 600;
}

.tradition-paragraph .uppercase {
  text-transform: uppercase;
}

.tradition-paragraph:last-child {
  margin-bottom: 0;
}

.tradition-photo {
  display: none;
}

@media screen and (min-width: 768px) {
  .traditions-section {
    padding-top: 48px;
  }

  .traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
  }

  .tradition-photo {
    display: block;
    width: 370px;
    height: 342px;
    border-radius: 400px 400px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .traditions-section {
    padding-top: 96px;
  }

  .traditions-content {
    max-width: 710px;
  }

  .traditions-title {
    font-size: 64px;
    line-height: 1.3;
    margin-bottom: 42px;
  }

  .tradition-paragraph {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 42px;
  }

  .tradition-paragraph:last-child {
    margin-bottom: 52px;
    max-width: 360px;
  }

  .tradition-paragraph.limited {
    max-width: 340px;
  }

  .tradition-photo {
    width: 395px;
    height: 466px;
  }
}